.gradle/
.idea/
build/
key/
log/
sdk/
/dist/
/dist.zip
*.crt
*.key
*.iml
*.crt
*.key
*.exe
*.yml
*.toml
*.crt
*.key

out
*.DS_Store
application-dev.yml
application.yml
application-gm.yml
*.publickey
gradle.properties

!docker/build
/src/test/resources/solidity/
/src/test/java/com/webank/truora/test/temp/
