.gradle/
.idea/
build/
key/
log/
/dist/
/dist.zip
*.crt
*.key
*.iml
*.crt
*.key
out
*.DS_Store
application-dev.yml
application-gm.yml
*.publickey
gradle.properties

!docker/build
/src/test/resources/solidity/
/src/test/java/com/webank/oracle/test/temp/
